In [16]:
import pandas as pd
df = pd.DataFrame()
file = open('data.txt', 'r')
tids = []
oids = []
ras = []
decs = []
stimes = []
for line in file.readlines():
    arr = line.split()
    tids.append(arr[0])
    oids.append(arr[1])
    ras.append(arr[2] + ' ' + arr[3] + ' ' + arr[4])
    decs.append(arr[5] + ' ' + arr[6] + ' ' + arr[7])
    stimes.append(arr[8] + ' ' + arr[9])
df['targetid'] = tids
df['obsid'] = oids
df['ra'] = ras
df['dec'] = decs
df['start time'] = stimes
df = df.sort_values(by=['ra', 'dec'])
df

    targetid        obsid           ra          dec             start time
72   7021050  07021050001  00 45 44.94  -25 55 15.6  2019-08-15 21:05:23.2
156  7021025  07021025001  00 46 02.58  -25 21 30.2  2019-08-15 19:19:49.2
64   7021051  07021051001  00 46 05.78  -26 18 02.6  2019-08-15 21:07:08.6
120  7021028  07021028001  00 46 39.19  -25 59 19.7  2019-08-15 19:24:25.8
127  7021008  07021008001  00 46 54.21  -24 48 57.2  2019-08-15 17:51:12.4
..       ...          ...          ...          ...                    ...
91   7020829  07020829001  01 34 47.19  -31 36 53.2  2019-08-15 07:11:58.2
102  7021019  07021019001  01 35 16.70  -32 46 10.4  2019-08-15 18:11:01.8
52   7021021  07021021001  01 35 27.03  -33 04 03.9  2019-08-15 18:14:28.4
103  7021059  07021059001  01 35 36.26  -32 51 38.7  2019-08-15 21:22:01.1
61   7021060  07021060001  01 35 46.66  -33 11 39.8  2019-08-15 21:23:40.6

[157 rows x 5 columns]

In [17]:
df.to_csv('../gw190814/data.csv')

In [22]:
df = df.sort_values(by=['start time'])
df.head(140).tail(10)

    targetid        obsid           ra          dec             start time
129  7021047  07021047001  00 51 17.50  -24 05 07.9  2019-08-15 21:00:18.2
110  7021048  07021048001  00 49 10.92  -25 21 49.6  2019-08-15 21:01:57.2
128  7021049  07021049001  00 50 00.82  -25 40 18.8  2019-08-15 21:03:52.6
72   7021050  07021050001  00 45 44.94  -25 55 15.6  2019-08-15 21:05:23.2
64   7021051  07021051001  00 46 05.78  -26 18 02.6  2019-08-15 21:07:08.6
49   7021057  07021057001  00 50 58.40  -22 51 11.0  2019-08-15 21:18:04.1
94   7021058  07021058001  00 53 35.08  -23 07 31.3  2019-08-15 21:19:50.4
103  7021059  07021059001  01 35 36.26  -32 51 38.7  2019-08-15 21:22:01.1
61   7021060  07021060001  01 35 46.66  -33 11 39.8  2019-08-15 21:23:40.6
17   7021061  07021061001  01 34 32.62  -31 48 16.2  2019-08-15 21:25:31.6

In [ ]:
file.close()